.main-bg-color {
    background-color: #ECECEC;
}

.text-color {
    color:  #fff;
    text-align: center;
}

.text-black {
    color:#141414;
}

.header-font {
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 1.25em;
    font-family: 'Kanit', sans-serif;
}

.spacing
{
    margin: 2.5em;
}

.spacing-2
{
    margin: 15em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C2C2C;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    margin-left:30px;
    margin-right:30px;
}

body {
    margin: 0px;
    padding: 0px;
}

#search {
    float:right;
}

#box {
    width: 650px;
    height: 400px;
    background-color:rgb(82, 223, 89);
    float:left;
    margin-right:50px;
}

.winner {
    margin:40px 30px 30px 60px;
}